<div>
  <br/>
  <button class="btn btn-default" (click)='getMyData()'>Fetch Data</button>
  <br/><br/>
  <div>
    <table class="table">
      <tr>
        <th>Name</th>
        <th>UserName</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Website</th>
      </tr>
      <tr *ngFor='let user of data$ | async'>
        <td>{{ user.name }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phone }}</td>
        <td>{{ user.website }}</td>
      </tr>
    </table>
  </div>
</div>
